<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<div>
    <div th:replace="fragments/header :: menu"></div>

    <div class="container">
        <h2>Détail de l'artiste <span th:text="${artist.name}">AC/DC</span></h2>
        <form id="saveForm" th:action="'/artists'" method="post" class="row">
            <input type="hidden" th:value="${artist.id}" name="id">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="name" class="form-control-label">Nom</label>
                    <input type="text" name="name" id="name" th:value="${artist.name}" class="ember-text-field form-control ember-view">
                </div>
            </div>
        </form>

        <form th:action="'/albums/'+${artist.id}" method="post" class="row">
        <div class="col-lg-12">
            <div class="form-group">
                    <label class="form-control-label">Albums</label>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="list-group">
                                <li class="list-group-item" th:each="albums : ${artist.albums}" th:text="${albums.title}">&nbsp;Let There Be Rock</li>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <div class="list-group text-center">
                                <a th:each="albums : ${artist.albums}" th:href="'/albums/'+${albums.id}+'/delete'" class="btn-danger list-group-item list-group-item-action"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <input type="text" name="title" id="title" placeholder="Ajouter un album..." class="form-control ember-text-field ember-view">
                        </div>
                        <div class="col-lg-2 text-center">
                            <button type="submit" class="btn-success list-group-item list-group-item-action"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <!-- Gérer enregistrement et suppression ! -->
            <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
            <a class="btn btn-danger" th:href="'/artists/'+${artist.id}+'/delete'">Supprimer</a>
        </div>
    </div>
</div>
</body>
</html>